# default attributes file
* text=auto eol=lf

# default attributes for all files
.wslconfig linguist-language=ini
*.conf linguist-language=properties
*.*rc linguist-language=properties

# linux/macos user LF
*.sh text eol=lf
*.bash text eol=lf
*.py text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.yaml text eol=lf
Dockerfile text eol=lf
Makefile text eol=lf

# Windows user CRLF
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.zip binary
*.tar binary
*.gz binary
*.pdf binary
*.exe binary
*.dll binary
