# https://github.com/glzr-io/glazewm/blob/main/resources/assets/sample-config.yaml
general:
  # startup_commands: ["shell-exec zebar"]
  # shutdown_commands: ["shell-exec taskkill /IM zebar.exe /F"]
  config_reload_commands: []
  focus_follows_cursor: false
  toggle_workspace_on_refocus: false
  cursor_jump:
    enabled: true
    trigger: "monitor_focus"
  hide_method: "cloak"
  show_all_in_taskbar: false

gaps:
  scale_with_dpi: true
  inner_gap: "10px"
  outer_gap:
    top: "10px"
    right: "10px"
    bottom: "10px"
    left: "10px"

window_effects:
  focused_window:
    border:
      enabled: true
      color: "#8dbcff"

    hide_title_bar:
      enabled: false

    corner_style:
      enabled: false
      style: "square"

    transparency:
      enabled: false
      opacity: "90%"

  other_windows:
    border:
      enabled: true
      color: "#a1a1a1"
    hide_title_bar:
      enabled: false
    corner_style:
      enabled: false
      style: "square"
    transparency:
      enabled: false
      opacity: "0%"

window_behavior:
  initial_state: "tiling"

  state_defaults:
    floating:
      centered: true
      shown_on_top: false

    fullscreen:
      maximized: false
      shown_on_top: false

workspaces:
  - name: "1"
    bind_to_monitor: 1
  - name: "2"
    bind_to_monitor: 1
  - name: "3"
    bind_to_monitor: 1
  - name: "4"
    bind_to_monitor: 1
  - name: "5"
    bind_to_monitor: 2
  - name: "6"
    bind_to_monitor: 3
  - name: "7"
    bind_to_monitor: 3

window_rules:
  - commands: ["ignore"]
    match:
      - window_process: { equals: "zebar" }
      - window_process: { equals: "Jantama_MahjongSoul" }

      - window_title: { regex: "[Pp]icture.in.[Pp]icture" }
        window_class: { regex: "Chrome_WidgetWin_1|MozillaDialogClass" }

      - window_process: { equals: "PowerToys" }
        window_class: { regex: 'HwndWrapper\[PowerToys\.PowerAccent.*?\]' }

      - window_process: { equals: "PowerToys" }
        window_title: { regex: ".*? - Peek" }

      - window_process: { equals: "Lively" }
        window_class: { regex: "HwndWrapper" }

  - commands: ["set-floating"]
    match:
      - window_process: { equals: "steamwebhelper" }

      - window_process: { regex: "Weixin" }
        window_title: { regex: "微信" }

      - window_process: { regex: "Telegram" }
        window_title: { regex: "Telegram*" }

      - window_process: {regex: "Bitwarden"}
        window_title: {regex: "Bitwarden*"}

      - window_process: {regex: "Vokabry"}
        window_title: {regex: "Vokabry*"}

      - window_process: { regex: "Discord" }
        window_title: { regex: "Friends - Discord" }

      - window_process: { regex: "rune" }
        window_title: { regex: "Rune*" }

      - window_process: { regex: "Spotify" }
        window_title: { regex: "Spotify Premium" }

      - window_process: { regex: "explorer" }
        window_class: { regex: "CabinetWClass" }

      - window_title: { regex: "子母畫面" }
        window_class: { regex: "MozillaDialogClass" }

      - window_title: { regex: "命令面板|管理员:PowerToys 设置" }
        window_class: { regex: "WinUIDesktopWin32WindowClass" }

      - window_title: { regex: "Settings" }
        window_class: { regex: "ApplicationFrameWindow" }

      - window_title: { regex: "Task Manager" }
        window_class: { regex: "TaskManagerWindow" }

binding_modes:
  - name: "resize"
    keybindings:
      - commands: ["resize --width -2%"]
        bindings: ["h", "left"]
      - commands: ["resize --width +2%"]
        bindings: ["l", "right"]
      - commands: ["resize --height +2%"]
        bindings: ["k", "up"]
      - commands: ["resize --height -2%"]
        bindings: ["j", "down"]
      - commands: ["wm-disable-binding-mode --name resize"]
        bindings: ["escape", "enter"]

keybindings:
  - commands: ["focus --direction left"]
    bindings: ["alt+h"]
  - commands: ["focus --direction right"]
    bindings: ["alt+l"]
  - commands: ["focus --direction up"]
    bindings: ["alt+k", "alt+up"]
  - commands: ["focus --direction down"]
    bindings: ["alt+j", "alt+down"]

  - commands: ["move --direction left"]
    bindings: ["alt+shift+h", "alt+shift+left"]
  - commands: ["move --direction right"]
    bindings: ["alt+shift+l", "alt+shift+right"]
  - commands: ["move --direction up"]
    bindings: ["alt+shift+k", "alt+shift+up"]
  - commands: ["move --direction down"]
    bindings: ["alt+shift+j", "alt+shift+down"]

  - commands: ["resize --width -2%"]
    bindings: ["alt+u"]
  - commands: ["resize --width +2%"]
    bindings: ["alt+p"]
  - commands: ["resize --height +2%"]
    bindings: ["alt+o"]
  - commands: ["resize --height -2%"]
    bindings: ["alt+i"]

  - commands: ["wm-enable-binding-mode --name resize"]
    bindings: ["alt+r"]

  - commands: ["wm-toggle-pause"]
    bindings: ["alt+shift+p"]

  - commands: ["toggle-tiling-direction"]
    bindings: ["alt+v"]

  - commands: ["toggle-floating --centered"]
    bindings: ["alt+shift+space"]

  - commands: ["toggle-tiling"]
    bindings: ["alt+t"]

  - commands: ["toggle-fullscreen"]
    bindings: ["alt+f"]

  - commands: ["close"]
    bindings: ["alt+shift+q"]

  - commands: ["wm-exit"]
    bindings: ["alt+shift+e"]

  - commands: ["wm-reload-config"]
    bindings: ["alt+shift+r"]

  - commands: ["wm-redraw"]
    bindings: ["alt+shift+w"]

  - commands: ["focus --next-active-workspace"]
    bindings: ["alt+right"]
  - commands: ["focus --prev-active-workspace"]
    bindings: ["alt+left"]

  - commands: ["move-workspace --direction left"]
    bindings: ["alt+shift+a"]
  - commands: ["move-workspace --direction right"]
    bindings: ["alt+shift+f"]
  - commands: ["move-workspace --direction up"]
    bindings: ["alt+shift+d"]
  - commands: ["move-workspace --direction down"]
    bindings: ["alt+shift+s"]

  - commands: ["move --workspace 1", "focus --workspace 1"]
    bindings: ["alt+shift+1"]
  - commands: ["move --workspace 2", "focus --workspace 2"]
    bindings: ["alt+shift+2"]
  - commands: ["move --workspace 3", "focus --workspace 3"]
    bindings: ["alt+shift+3"]
  - commands: ["move --workspace 4", "focus --workspace 4"]
    bindings: ["alt+shift+4"]
  - commands: ["move --workspace 5", "focus --workspace 5"]
    bindings: ["alt+shift+5"]
  - commands: ["move --workspace 6", "focus --workspace 6"]
    bindings: ["alt+shift+6"]
  - commands: ["move --workspace 7", "focus --workspace 7"]
    bindings: ["alt+shift+7"]
  - commands: ["move --workspace 8", "focus --workspace 8"]
    bindings: ["alt+shift+8"]
  - commands: ["move --workspace 9", "focus --workspace 9"]
    bindings: ["alt+shift+9"]
